<ul>
    <% for(let chapter of chapters) {%>
        <li>
            <a href="/languages/<%= language %>/<%= chapter %>">
                <%= chapter %>
            </a>
        </li>
    <% } %>
</ul>