<% include ../includes/header.ejs %>


<%- content %>
<!-- <h1>Editorzão</h1>
<p>Todas as linguagens disponíveis: https://sphere-engine.com/docs/other/languages</p>
 -->

<% include ../includes/editor.ejs %>
<% include ../includes/footer.ejs %>


